@model Associativy.Models.AssociativyNodeLabelPart

<fieldset>
    @Html.LabelFor(m => m.Label, T("Label"))
    @Html.TextBoxFor(m => m.Label, new { @class = "textMedium" })
    @Html.ValidationMessageFor(m => m.Label)
    <span class="hint">@T("If empty, the default pattern will be used to generate the label.")</span>
</fieldset>