@{
    Script.Require("Dracula").AtHead();
    var nodes = Model.Nodes as Dictionary<int, Associativy.ViewModels.IGraphNodeViewModel>;
}

<script type="text/javascript">
$(document).ready(function(){
	var g = new Graph();

    @foreach (var nodeItem in nodes)
    {
        var node = nodeItem.Value;
        @: g.addNode("@node.Id", { label : "@Html.Raw(node.Label)" }); @*Without Html.Raw() the output would be encoded, non-ASCII characters too*@
        foreach (var id in node.NeighbourIds)
        {
            @: g.addEdge("@node.Id", "@id");
        }
    }
	
	var layouter = new Graph.Layout.Spring(g);
	layouter.layout();
	 
	var renderer = new Graph.Renderer.Raphael("canvas", g, 900, 1000);
	renderer.draw();
});
</script>
<div id="canvas">
</div>
