@using Associativy.ViewModels

@{
    var viewModel = Model.ViewModel as SearchViewModel;
    Script.Require("AssociativyAutoComplete").AtHead();
    Style.Require("jQueryUI_Orchard");
    var route = (RouteValueDictionary)Model.PostRouteValueDictionary;
}

@using (Html.BeginForm(route["action"].ToString(), route["controller"].ToString(), new { Area = route["area"]}, FormMethod.Get, new { @id = "notions-search-form" }))
{
@*    @Html.AntiForgeryTokenOrchard()*@
    <fieldset>
        @Html.TextBox("Terms", viewModel.Terms)
        <button type="submit">@T("Search")</button>
    </fieldset>
}

<script type="text/javascript">
    $.associativyAutoComplete.terms("Terms", '@Model.FetchUrl');
</script>