/* Mapz*/
.associativy.graphviz.graph-container
{
    position: relative; /* The container should be smaller than the graph and not bigger as the smallest image */
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.associativy.graphviz.graph
{
    cursor: move; /* The graph should be larger than the container */
    width: 650px;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
}

.associativy.graphviz.level
{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 10;
}

.associativy.graphviz.current-level
{
    visibility: visible;
    z-index: 20;
}

/* Mapbox */
#associativy-graph-viewport
{
    width: 700px;
    height: 500px;
    cursor: move;
    margin: 20px auto;
    overflow: hidden; /*keep map contents from spilling over if JS is disabled*/
}
