@{
    Script.Require("Graphviz").AtHead();
    Style.Require("Graphviz");

    var routeData = Html.ViewContext.RouteData.Values;
}
<script type="text/javascript">
$(document).ready(function(){
	$.getJSON("@Url.Action("Render", routeData["controller"].ToString())?" + $("#associativy-search-form").serialize(), function(response) {
         var urls = response["GraphImageUrls"];
         
         for (var i = 0; i < urls.length; i++) {
            $("<img id='associativy-graph-layer-" + i + "' src='" + urls[i] + "' alt='' class='associativy graphviz level'>").appendTo(".associativy.graphviz.graph");
            var img = $("#associativy-graph-layer-" + i);
            // Otherwise Mapz is confused
            img.attr("height", img.height());
            img.attr("width", img.width());
         }

         $("#associativy-graph-layer-0").addClass("current-level");

         var graph = $(".associativy.graphviz.graph");
         var graphHeight = graph.height();
         var graphWidth = graph.width();

         $(".level").each(function() { 
                var img = $(this);
                var imgHeight = img.height();
                var imgWidth = img.width();

                if (imgHeight < graphHeight) {
                    //img.css("margin-bottom", 1);
                }

//                if (originalWidth < graphWidth) {
//                    img.width(graphWidth);
//                }
            });

         graph.mapz({
	        zoom : true,
	        createmaps : false,
	        mousewheel : true
        })
    });
});
</script>
<div class="associativy graphviz graph-container map-viewport">
	<div class="associativy graphviz graph">
	</div>
</div>