@using Associativy.ViewModels.Notions

@{
    var viewModel = Model.ViewModel as NotionSearchViewModel;
    Script.Require("AssociativyAutoComplete").AtHead();
    //Style.Require("FacebookConnect");
}


@using (Html.BeginForm("ShowAssociations", "Associations", new { area = "Associativy" }, FormMethod.Get, new { @id = "notions-search-form" }))
{
@*    @Html.AntiForgeryTokenOrchard()*@
    <fieldset>
        @Html.TextBox("Terms", viewModel.Terms)
        <button type="submit">@T("Search")</button>
    </fieldset>
}

<script type="text/javascript">
    $.associativyAutoComplete.terms("Terms");
</script>