@using Orchard.ContentManagement
@model QuickGraph.IUndirectedGraph<IContent, QuickGraph.IUndirectedEdge<IContent>>
           
@{
    Script.Require("Dracula").AtHead();
}

<script type="text/javascript">
$(document).ready(function(){
	var graph = new Graph();

    @foreach (var node in Model.Vertices)
    {
        @Html.Raw("graph.addNode(\"" + node.Id + "\", { label : \"" + node.As<Orchard.ContentManagement.Aspects.ITitleAspect>().Title + "\" });")
    }

    @foreach (var edge in Model.Edges)
    {
        @Html.Raw("graph.addEdge(\"" + edge.Source.Id + "\", \"" + edge.Target.Id + "\");")
    }
	
	var layouter = new Graph.Layout.Spring(graph);
	layouter.layout();
	 
	var renderer = new Graph.Renderer.Raphael("canvas", graph, 900, 1000);
	renderer.draw();
});
</script>
<div id="canvas">
</div>
