@{
    Script.Require("JIT").AtHead();

    var routeData = Html.ViewContext.RouteData.Values;
}

<script type="text/javascript">
$(document).ready(function(){
	$.getJSON("@Url.Action("FetchAssociations", routeData["controller"].ToString(), new { ZoomLevel = 10 })&" + $("#associativy-search-form").serialize(), function(graphData) {
        $.jit.draw(graphData);
    });
});
</script>
<div id="jit-associations" style="width: 900px; height: 800px;">
</div>
