@model Associativy.FrontendEngines.ViewModels.ISearchResultViewModel
@{
    Script.Require("JIT").AtHead();

    var routeData = Html.ViewContext.RouteData.Values;
}
@Display(Model.SearchForm)
<script type="text/javascript">
$(document).ready(function(){
	$.getJSON("@Url.Action("FetchAssociations", routeData["controller"].ToString(), new { ZoomLevel = 10 })&" + $("#associativy-search-form").serialize(), function(data) {
        $.jit.draw($.parseJSON(data));
    });
});
</script>
<div id="jit-associations" style="width: 900px; height: 800px;">
</div>